doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible" content="ie=edge")
      title Numerical Methods: Lab work 1
   body
      
      h1 Numerical Methods
      h2 Lab work 1
      