.matrixDom__dimensionsControlsContainer
   <% const dimDisabled = (t.viewType === 'area') ? 'disabled' : '' %>

   input.matrixDom__dimensionsControl.matrixDom__mDimensions(
      type="number" placeholder="m" value!="<%= t.m %>" min="1" max="20" step="1"
   )&attributes({"<%= dimDisabled %>": "true"})
   span.matrixDom__mnSeparator ☓
   input.matrixDom__dimensionsControl.matrixDom__nDimensions(
      type="number" placeholder="n" value!="<%= t.n %>" min="1" max="20" step="1"
   )&attributes({"<%= dimDisabled %>": "true"})

.matrixDom__buttons
   button.matrixDom__control.matrixDom__view(type="button") View
   button.matrixDom__control.matrixDom__reset(type="button") Reset 