.matrixDom.viewCells.viewArea
   p.matrixDom__title <%= t.title %>
   form
      .matrixDom__data
         .cells cells data
         .area area data

      .matrixDom__controls
         input(type="number" placeholder="m" value!="<%= t.m %>" min="1" max="20" step="1")
         input(type="number" placeholder="n" value!="<%= t.n %>" min="1" max="20" step="1")
         button.matrixDom__control.matrixDom__view View
         button.matrixDom__control.matrixDom__reset Reset
