.matrixDom
   p.matrixDom__title <%= t.title %>
   form.matrixDom__form
      .matrixDom__data
         <% if (t.viewType === 'cell') { %>
         .matrixDom__cellsContainer

            <% for (let m = 0; m < t.m; m++) { %>
            .matrixDom__cellsRow

               <% for (let n = 0; n < t.n; n++) { %>
               .matrixCell
                  input.matrixCell__input(type="number" value!="<%= t._matrix[m][n] %>") 
               <% } %>
            <% } %>

         <% } else if (t.viewType === 'area') { %>
         .matrixDom__areaContainer
            textarea.matrixDom__area(placeholder="1 2 3.9\n4 5 6.2\n7 8 9.1") <%= t._getAreaText() %>

         <% } else { %>
         p Wrong viewType
         <% } %>
  
      .matrixDom__controls
         .matrixDom__dimensionsControls
            <% const dimDisabled = (t.viewType === 'area') ? 'disabled' : '' %>

            input.matrixDom__dimensionsControl.matrixDom__mDimensions(
               type="number" length="2" placeholder="m" value!="<%= t.m %>" min="1" max="20" step="1"
            )&attributes({"<%= dimDisabled %>": "true"})
            span.matrixDom__mnSeparator ☓
            input.matrixDom__dimensionsControl.matrixDom__nDimensions(
               type="number" placeholder="n" value!="<%= t.n %>" min="1" max="20" step="1"
            )&attributes({"<%= dimDisabled %>": "true"})
         
         .matrixDom__buttons
            button.matrixDom__control.matrixDom__view(type="button") View
            button.matrixDom__control.matrixDom__reset(type="button") Reset 