.matrixDom
   p.matrixDom__title <%= t.title %>
   form(action="").matrixDom__form
      .matrixDom__data
         <% if (t.viewType === 'cell') { %>
            .cells cells data
         <% } else if (t.viewType === 'area') { %>
            .area area data
         <% } else { %>
            p Wrong viewType
         <% } %>
 
      .matrixDom__controls
         input(type="number" placeholder="m" value!="<%= t.m %>" min="1" max="20" step="1")
         input(type="number" placeholder="n" value!="<%= t.n %>" min="1" max="20" step="1")
         button(type="button").matrixDom__control.matrixDom__view View
         button(type="button").matrixDom__control.matrixDom__reset Reset 